body {
  margin: 0;
  padding: 0;
}body, html { height: 100%; }

/* -------------------------- */
/* Animation setup */
/* -------------------------- */


.main {
  /* Setup */
  width: 100%;
  height: 100vh;
  position: relative;
  /* overflow-x: hidden; */
  overflow: hidden;
}
.main:after {
  /* Setup */
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
  content: "";
  z-index: -1;
  /* display: inline-block; */
  /* Background */
  background-image: url("assets/atom.svg");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  /* Animation */
  animation: spin 50s linear infinite ;

}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* ----------------- */
/* Typing animation */
/* ----------------- */

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
/* ----------------- */
/* Main styling */
/* ----------------- */

.mainTitle {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
.mainTitle span {
  border-bottom: 4px solid #383838;
  color: #383838;
}

.mainSubtitle {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

/* --------------- */
/* 2nd Styling */
/* --------------- */




#seccond {
  /* Setup */
  width: 100%;
  height: 100vh;
  position: relative;
  /* overflow-x: hidden; */
  overflow: hidden;
}
#seccond:after {
  /* Setup */
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
  content: "";
  z-index: -1;
  /* display: inline-block; */
  /* Background */
  background-image: url("assets/dna.svg");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  /* Animation */
  animation: spin 50s linear infinite ;

}

.seccondTitle {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 20px;
}

.seccondTitle span {
  border-bottom: 2px solid #383838;
  color: #383838;
}

.collapsible-body {
  background-color: #fff;
}